.container {
  position: absolute;
  top:0rem;
  z-index:  7rem;
  left:0rem;
  right:0rem; /* Set the desired dimensions here */
  background-position: center center;
  background-color: #f5f5f5;
  position:fixed;
  margin-bottom: 300px;
}
.gm-style-mtc {
  display: none;
}

label {
  margin-top: 15px;
  display: block;
  font-weight: bold;
  margin-bottom: 8px;


}

#source-select{
  margin-left: 66px;
}
select{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  padding: 30px;
}




#dst{
  display: flex;
  font-size: xx-large;
  border-color: black;
  border-style: solid;
  

}

#sorc{
  display: flex;
  font-size: xx-large;
  border-style: solid;
  border-color: black
  
}
.container2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  background-color:lightsteelblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#map {
  position:relative;
  height: 100px;
}

.button {
  margin-top: 50px;
  margin-left: 18rem;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  font-size:xxx-large;
  border-radius: 1.5rem;

}

.button:hover {
  background-color:burlywood;
  color:rgb(111, 71, 8);
}

body{
  overflow: hidden;
}


#source-select + .select2-container--default .select2-selection--single {
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left:80px;
  margin-bottom: 10px;
  width:96.5%;
}

#destination-select + .select2-container--default .select2-selection--single {
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left:12px;
  margin-bottom: 10px;
  width:97%;

}

#source-select +.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;

}

#destination-select +.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 60px;
  display: flex;
  align-items: center;
  right:66px;

}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 80px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-width: 6px 4px 0 4px;
}

/* Adjust search input width */
.select2-search__field {
  width: 100%;
  height:60px;
  
}

/* Adjust dropdown width */
.select2-container--default .select2-results__option {
  width: 100%;
}

/* Set max height for dropdown */
.select2-container--default .select2-dropdown {
  max-height: 200px;
}

/* Add custom background color to select2 dropdown */
.select2-container--default .select2-results__option {
  background-color: #f5f5f5;
}

#current-location-btn{
  margin-left: 350px;
  margin-top: 100px;

}

#label{
  font-size: xx-large;
  border:#ccc;
  border-style: solid;
  margin-left: 280px;
  margin-right: 200px;
  background-color:lightsteelblue;
  border-radius: 500px;
  
  
}

@media only screen and (min-width: 480px) {
  .container {
      max-width: 100%;
      padding: 100px;

  }

  select {
      font-size: 15px;
  }

  #map{
    top:100px;
    height:2500px;
    width: 100%;
  }



}
